.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mycontainer {
  height: 100vh;
}

.gameContainer {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.game {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.loading-spinner {
  width: 99vw;
  height: 94.2vh;
  align-items: center;
  display: flex;
}

.spinner-div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.loading-text {
  margin-top: 100px;
  margin-left: -9px;
}